
  <ion-content padding="true" scroll="false" class="login">
    <div class="spacer" style="width: 300px; height: 182px;"></div>
    <ion-list>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input #email type="text"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input #password type="password"></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <button ion-button block color="secondary" (click)="login(email.value,password.value)">Login</button>
    </div>
    <a href-inappbrowser="/signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
  </ion-content>

