<!--
  Generated template for the Lights page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lights</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list >

    <ion-item-sliding #item1>
      <ion-item>
        <ion-icon name="bulb-outline" item-left></ion-icon>
        Item 1
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only color="history">
          <ion-icon name="trending-up"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding #item2>
      <ion-item>
        <ion-icon name="bulb" item-left></ion-icon>
        Item 2
      </ion-item>
      <ion-item-options side="right" >
        <button ion-button color="history" icon-only>
          <ion-icon name="trending-up"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>
</ion-content>
