<ion-menu [content]="content" type="overlay">
  <ion-content>
    <ion-list>


      <ion-item padding >
        <ion-avatar >
          <img src="img/avatar.jpg">
        </ion-avatar><br>
        <h2>Sydnei Tanikawa</h2>
        <p>sydtpt@gmail.com</p>
      </ion-item>


      <button ion-item menuToggle *ngFor="let item of menuItens" (click)="openPage(item)">
        {{item.title}}
      </button>

      <button ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="root"></ion-nav>
